header{
    width: 100%;
    height: 100px;
    background-color: #780000;
    display: flex;
    justify-content: space-around;
}

footer{
    margin-top: 52.3%;
    width: 100%;
    height: 106px;
    background-color: #780000;
}

